<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{ _charset }}" />
        <title>Error</title>
    </head>
    <body>
        <pre>{{ status_code }} {{ status_text }} {{ exception.message }}</pre>
    </body>
</html>
