{% extends '::base.html.twig' %}

{% block body %}
    <dl>
    {% for k,a in attributes %}
        <dt>{{ k }}</dt>
        <dd>{{ a }}</dd>
    {% endfor %}
    </dl>
{% endblock %}

{% block stylesheets %}

{% endblock %}

