{% extends '::base.html.twig' %}

{% block body %}
    {{ parent() }}

<div class="form-signin text-center">
    <h4>Bentornat@ {{ data.name }} {{ data.familyname }}</h4>
    <a href="/slo">Logout</a>
</div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        @import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600);
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            width: 100%;
            max-width: 600px;
            padding: 15px;
            margin: auto;
        }

        .form-signin .checkbox {
            font-weight: 400;
        }

        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }
    </style>
{% endblock %}
