{% extends '::base.html.twig' %}

{% block body %}
    {{ parent() }}
<div id="my-spid-button-wrapper" style="display: none">
    <div id="my-spid-button">
        <noscript>
            Il login tramite SPID richiede che JavaScript sia abilitato nel browser
        </noscript>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" href="{{ asset('bundles/app/css/spid-button.min.css') }}"/>
    <style>.spid-foot-btn{display: none!important;}</style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/app/js/spid-button.min.js') }}"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {

            SPID.assetsBaseUrl = 'https://italia.github.io/spid-smart-button/';
            SPID.stylesheetUrl = 'https://italia.github.io/spid-smart-button/spid-button.min.css';

            SPID.init({
                lang: 'it',
                selector: '#my-spid-button',  // opzionale
                url: '/login?idp=idp_{% verbatim %}{{idp}}{% endverbatim %}',
                fieldName: 'idp',
                mapping: {                    // opzionale
                    'https://loginspid.aruba.it': 5,
                    'https://identity.infocert.it': 1,
                    'https://posteid.poste.it': 2,
                    'https://identity.sieltecloud.it': 4,
                    'https://login.id.tim.it/affwebservices/public/saml2sso': 3,
                    'https://idp.namirialtsp.com/idp': 6,
                    'https://spid.register.it': 7,
                    'https://spid.intesa.it': 8,
                    'https://id.lepida.it/idp/shibboleth': 9{% if test_spid_idp == 'enabled' %},
                    '{{ test_spid_idp_id }}': {{ test_spid_idp_metadata_number }}{% endif %}
                },
                supported: [
                    'https://loginspid.aruba.it',
                    'https://identity.infocert.it',
                    'https://posteid.poste.it',
                    'https://identity.sieltecloud.it',
                    'https://login.id.tim.it/affwebservices/public/saml2sso',
                    'https://idp.namirialtsp.com/idp',
                    'https://spid.register.it',
                    'https://spid.intesa.it',
                    'https://id.lepida.it/idp/shibboleth'
                ],
                {% if test_spid_idp == 'enabled' %}
                extraProviders: [
                    {
                        "entityID": "{{ test_spid_idp_id }}",
                        "entityName": "{{ test_spid_idp_name }}",
                        "logo": "spid-idp-dummy.svg",
                        "active": true
                    }
                ],
                {% endif %}
                protocol: "SAML",
                size: "medium",
                colorScheme: "positive",
                cornerStyle: "rounded"
            });

            setTimeout(function(){
                $('#my-spid-button .spid-button').trigger('click');
                setTimeout(function(){
                    $('#my-spid-button-wrapper').show(100);
                }, 200);
            }, 800);
            $('.spid-button-panel-close-button').on('click', function () {
                document.location = '/provider';
            })
        });
    </script>
{% endblock %}
